
SDKROOT                             = macosx10.10
SUPPORTED_PLATFORMS                 = iphoneos iphonesimulator macosx

CODE_SIGN_IDENTITY[sdk=iphone*]     = iPhone Developer: alex@mrgray.com (938J34NGN8)
CODE_SIGN_IDENTITY[sdk=macosx*]     = Mac Developer: alex@mrgray.com (938J34NGN8)

ARCHS[sdk=macosx*]                  = $(ARCHS_STANDARD_64_BIT)
ARCHS[sdk=iphonesimulator*]         = $(ARCHS_STANDARD_64_BIT)
ARCHS[sdk=iphoneos*]                = arm64

VALID_ARCHS[sdk=macosx*]            = x86_64
VALID_ARCHS[sdk=iphonesimulator*]   = x86_64 i386
VALID_ARCHS[sdk=iphoneos*]          = arm64 armv7 armv7s

FRAMEWORK_SEARCH_PATHS[sdk=macosx*] = $(USER_LIBRARY_DIR)/Frameworks
HEADER_SEARCH_PATHS = $(inherited) /usr/local/include

OTHER_LDFLAGS                       = -framework Foundation

PRODUCT_NAME                        = $(TARGET_NAME)
GCC_OPTIMIZATION_LEVEL              = 0
GCC_C_LANGUAGE_STANDARD             = c11
COPY_PHASE_STRIP                    = NO
DEAD_CODE_STRIPPING                 = NO
ALWAYS_SEARCH_USER_PATHS            = NO
ONLY_ACTIVE_ARCH                    = YES
COMBINE_HIDPI_IMAGES                = YES
CLANG_ENABLE_OBJC_ARC               = YES
CLANG_ENABLE_MODULES                = YES

WARNING_CFLAGS = -Wcomment -Wno-deprecated -Wno-deprecated-declarations -Wno-shorten-64-to-32 -Wno-objc-property-no-attribute

CLANG_ALLOW_NON_MODULAR_INCLUDES_IN_FRAMEWORK_MODULES = YES


//CODE_SIGN_IDENTITY[sdk=macosx*]     = MrGray.com
//CODE_SIGN_IDENTITY[sdk=iphone*]     = -

//VALID_ARCHS[sdk=macosx*] = x86_64

// PACKAGING

// COMPILING
//                                        VALID_ARCHS = x86_64
//                                            SDKROOT = macosx
//                                SUPPORTED_PLATFORMS = macosx
//                           MACOSX_DEPLOYMENT_TARGET = 10.8
//                                   GCC_DYNAMIC_NO_PIC = -mdynamic-no-pic

// LINKING
//CLANG_ALLOW_NON_MODULAR_INCLUDES_IN_FRAMEWORK_MODULES = YES


//                                        OTHER_LDFLAGS = -ObjC -all_load $(OTHER_LDFLAGS)
//                              LD_RUNPATH_SEARCH_PATHS = $(USER_LIBRARY_DIR)/Frameworks

//GCC_INLINES_ARE_PRIVATE_EXTERN = NO

//RELAX

//GCC_WARN_CHECK_SWITCH_STATEMENTS          = NO  // [YES] switch on enum value, all possibilities are not accounted for

// STRESSOUT

//CLANG_WARN__DUPLICATE_METHOD_MATCH        = YES // [NO] Warn if declare same method more than 1nce in interfce.
//GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL        = YES
//GCC_WARN_UNUSED_LABEL                     = YES // [NO]  labels that are unused
//GCC_WARN_UNDECLARED_SELECTOR              = YES // [NO]
//
//GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES // [NO] missing fields from structure initializers (if designated initializers aren't used)
//GCC_WARN_ABOUT_RETURN_TYPE                = YES // [NO] value ret from a function/method/block does not match its ret type
//
//GCC_WARN_UNINITIALIZED_AUTOS              = YES // [NO] variables that are not initialized before used
//GCC_WARN_UNUSED_VARIABLE                  = YES //       variables that are never used


//-Wno-implicit-int -Wno-incomplete-umbrella -Wno-pointer-sign -Wundeclared-selector -Wbitwise-op-parentheses  -Wno-implicit-retain-self -Wno-ambiguous-macro -Wno-gcc-compat -Wno-objc-property-no-attribute -Wno-arc-repeated-use-of-weak -Wno-receiver-is-weak -Wno-selector -Wno-property-attribute-mismatch -Wno-objc-property-synthesis -Wno-format -Wno-shorten-64-to-32

//ENABLE_STRICT_OBJC_MSGSEND                = NO


//GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
//           GCC_PRECOMPILE_PREFIX_HEADER = YES



//SDKROOT[sdk=iphoneos*] = iphoneos
//SDKROOT[sdk=iphonesimulator*] = iphoneos
//
////SUPPORTED_PLATFORMS[sdk=iphone*]  = iphoneos iphonesimulator
//
//VALID_ARCHS[sdk=iphonesimulator*] = x86_64
//VALID_ARCHS[sdk=iphoneos*] = armv7 armv7s arm64
//
//CODE_SIGN_IDENTITY[sdk=iphonesimulator*] = -
//CODE_SIGN_IDENTITY[sdk=iphoneos*] = -
//
//FRAMEWORK_SEARCH_PATHS[sdk=iphone*]  = $(CONFIGURATION_BUILD_DIR) // $(USER_FWKS)
//FRAMEWORK_SEARCH_PATHS[sdk=iphonesimulator*] = $(THEOS)/Frameworks $(FRAMEWORK_SEARCH_PATHS)
//FRAMEWORK_SEARCH_PATHS[sdk=iphoneos*] = $(THEOS)/Frameworks $(FRAMEWORK_SEARCH_PATHS)

// LD_RUNPATH_SEARCH_PATHS[sdk=iphone*]  = @loader_path/Frameworks @executable_path/Frameworks $(inherited)

